/* the main font family font-family: "CCKillJoyOutline"; */
/* Start for all */
.container{
    width: 70%;
    margin: 0 auto;
    
}
ul{
    list-style: none;
}
/* end for all */
/* Start header */
header{
    position: relative;
    padding: 20px 0;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                padding: 15px 10px;
                font-size: larger;
                font-weight: 600;
                opacity: 50%;
                cursor: pointer;
                transition: .7s;
            }
            
            li:hover,
            .active {
                opacity: 100%;
                color: red;
                border-bottom: red solid 2px;
                transform: scale(110%);

            }
        }
        .Logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: "CCKillJoyOutline";
            color: red;
            font-size: 40px;
            font-weight: 700;
        }
        .icons{
            position: absolute;
            right: 0px;
            i{
                font-size : 24px;
                padding: 5px;
                transition: .7s;
                position: relative;
                cursor: pointer;
            }
            i:hover{
                transform: scale(110%);
                color: red;
            }
        }
    }
    .container::after{
        content: "";
        width: 100%;
        bottom: 0px;
        height: 2px;
        background-color: black;
        position: absolute;
    }
}
/* end header */